<html>
  <body>

  <h1>All Restaurants</h1>

     <a href= '{{url_for('newRestaurants')}}'>Create new</a></br></br>


    {% for i in restaurants %}

    <div>

    <h2>{{i.name}}</h2>


    <a href= '{{url_for('showMenu', restaurant_id = i.id)}}'>See menu</a></br>

    <a href= '{{url_for('editRestaurants', restaurant_id = i.id)}}'>edit</a></br>

    <a href= '{{url_for('deleteRestaurants', restaurant_id = i.id)}}'>delete</a></br>

    </br>
    </br>

    </div>


    {% endfor %}

</body>
</html>
